astroid==3.0.1
black==23.11.0
boto3==1.29.3
boto3-stubs==1.29.3
botocore==1.32.3
botocore-stubs==1.32.3.post1
certifi==2023.11.17
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
codecov==2.1.13
commit-linter==1.0.3
coverage==7.3.2
dill==0.3.7
distlib==0.3.7
filelock==3.13.1
flake8==6.1.0
identify==2.5.32
idna==3.4
isort==5.12.0
jmespath==1.0.1
mccabe==0.7.0
mypy==1.7.0
mypy-boto3==1.29.3
mypy-boto3-dynamodb==1.29.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pre-commit==3.5.0
pycodestyle==2.11.1
pyflakes==3.1.0
pylint==3.0.2
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
tomli==2.0.1
tomlkit==0.12.3
types-awscrt==0.19.13
types-requests==2.31.0.10
types-s3transfer==0.7.0
typing_extensions==4.8.0
urllib3==2.0.7
virtualenv==20.24.6
